# mge - Modern Game Engine
# Copyright (c) 2021 by Alexander Schroeder
# All rights reserved.

build*/**/*
.vscode/*
.vs
mge.files
mge.config
mge.includes
mge.creator*
mge.creator.user
CMakeLists.txt.user
CMakeLists.txt.user.*
# - can accidentally be created if in-source build is tried
CMakeFiles
CMakeCache.txt
# -- created by CI tools
vcpkg/*
# -- vscode browse db
BROWSE.DB
BROWSE.DB-shm
BROWSE.DB-wal