# mge - Modern Game Engine
# Copyright (c) 2018 by Alexander Schroeder
# All rights reserved.

mge.mpj
build*/**/*
.vscode/*
mge.files
mge.config
mge.includes
mge.creator
mge.creator.user
